
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: "Story Script", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    background-color: aliceblue;
}

a:link{color:inherit; text-decoration: inherit;}
a:active{color:inherit; text-decoration: inherit;}
a:visited{color:inherit; text-decoration: inherit;}
a:hover{color:inherit; text-decoration: inherit;}




#header1{
    border-radius: 5px;
    text-align: center;
    background: #178578;
    background: linear-gradient(90deg,rgba(23, 133, 120, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 198, 1) 100%);
    padding: 1.5rem;
    font-size: 3rem;
    color: #111;


}


.fundamentalsheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 8rem;
    background-color: antiquewhite;
}

#title{
    margin: 0px;
    font-size: 7rem;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.fundbox{
    width: 100%;
    min-height: 300px;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}




.biniu{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
